@charset "utf-8";
/*=============================================================================
    <<icomonn
=============================================================================*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u8vdv9');
  src:  url('../fonts/icomoon.eot?u8vdv9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u8vdv9') format('truetype'),
    url('../fonts/icomoon.woff?u8vdv9') format('woff'),
    url('../fonts/icomoon.svg?u8vdv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitcoin:before {
  content: "\e900";
}
.icon-setting1:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
.icon-glasses:before {
  content: "\e901";
}
.icon-images:before {
  content: "\e90e";
}
.icon-undo:before {
  content: "\e967";
}
.icon-chat:before {
  content: "\e96c";
}
.icon-setting2:before {
  content: "\e994";
}
.icon {
}
/*=============================================================================
    icomoon>>
=============================================================================*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    <<共通
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
body {
	box-sizing: border-box;
	width: 100%;
	/*Mplus 1pが読み込まれる前に後ろのフォントが表示されるので一応書いておく*/
	font-family: "Mplus 1p", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*
	font-family : 英字フォント1, 英字フォント2, ... 日本語フォント1, 日本語フォント2 ... 総称フォント; 総称フォントは、sans-serif or serifで、フォントに半角スペースが含まれる場合シングルorダブルクオテーションで囲うことが必須
	*/
	font-size: 14px;
	line-height: 1.8;
	color: #545454;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.8;
	color: #545454;
}
a {/*aもh系と一緒でブラウザのcssが強く効きやすいので注意*/
	color: #545454;
	text-decoration: none;
}
@media screen and (min-width: 769px) {
  a:hover {
    color: #E50640;
  }
}
img {
	vertical-align: bottom;/*写真の下にできる謎のスペースを消去*/
	width: 100%;/*フルードイメージ用、max-widthは最大値以上大きくならないの意なのでwidthの%指定を使う*/
}
.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}
/*=============================================================================
    <<.header
=============================================================================*/
header {
}
/*-----------------------------------------------------------------------------
    .nav-bar
-----------------------------------------------------------------------------*/
.nav-bar {
  height: 50px;
  width: 100%;
  background: #5f5f5f;
  box-shadow: 0 5px 5px rgba(160, 166, 179, 0.3);
  line-height: 50px;
  text-align: center;
  font-size: 3vw;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.nav-bar__logo {
  float: left;
  width: 25vw;
}
.nav-bar__menu {
  float: right;
  /*width: 60%;*/
}
.nav-bar__login, .nav-bar__register, .nav-bar__mymenu, .nav-bar__filter, .nav-bar__back {
  float: left;
  width: 25vw;
}
.nav-bar__logo-icon, .nav-bar__mymenu-icon, .nav-bar__filter-icon, .nav-bar__back-icon {
  color: #fff;
  font-size: 32px;
  line-height: 50px;

}
.nav-bar__logo-link, .nav-bar__login-link, .nav-bar__register-link, .nav-bar__mymenu-link, .nav-bar__filter-link, .nav-bar__back-link {
  display: block;
  color: #fff;
}
.nav-bar__logo-link:hover, .nav-bar__login-link:hover, .nav-bar__register-link:hover, .nav-bar__mymenu-link:hover, .nav-bar__filter-link:hover, .nav-bar__back-link:hover {
  background: #4CAF50;
  color: #fff;
}
/*-----------------------------------------------------------------------------
    .modal-login
-----------------------------------------------------------------------------*/
.modal-login__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-login {
  display: none;
  position: fixed;
  z-index: 3;
  width: 50%;
  margin: 0;
  padding: 10px 20px;
  width: 70vw;
  height: 70vh;
  max-width: 360px;
  max-height: 360px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.modal-login__trigger {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.modal-login__title {
	font-size: 28px;
}
.modal-login__email, .modal-login__password {
	padding-top: 20px;
}
.modal-login__email-input, .modal-login__password-input {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
  width: 70vw;
  max-width: 300px;
  font-size: 1.3em;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.modal-login__btn-input {
	margin-top: 20px;
	width: 70vw;
	max-width:300px;
	height: 45px;
	border: 0;
	border-radius: 3px;
	background: #f5f5f5;
	font-size: 20px;
	/*:hoverにtransitionをかけると一方向に、元要素にかけると外した時もなる*/
	transition: 0.3s;
}
.modal-login__btn-input:hover {
  background: #E50640;
  color: #fff;
}
.modal-login__notice-password, .modal-login__notice-register {
	padding-top: 10px;
	font-size: 16px;
}
.modal-login__notice-password-link, .modal-login__notice-register-link {
  transition: 0.3s;
}
/*=============================================================================
    .header>>
=============================================================================*/
/*=============================================================================


/*=============================================================================
    <<.footer
=============================================================================*/
/*-----------------------------------------------------------------------------
    .footer-nav
-----------------------------------------------------------------------------*/
.footer-nav__layout {
  background: #5f5f5f;
  color: #fff;
}
/*.footer-navに背景をつけると*/
.footer-nav {
  margin-top: 4vw;
  padding-top: 2vw;
  font-size: 3vmin;
  text-align: center;
}
.footer-nav a {
  color: #fff;
}
/*-----------------------------------------------------------------------------
    .copy-right
-----------------------------------------------------------------------------*/
.copy-right {
  display: flex;
  height: 46px;
  background: #5f5f5f;
}
.copy-right__declare {
  display: inline;
  margin: auto;
  color: #AAAAAA;
  font-size: 12px;
}
/*=============================================================================
    .footer>>
=============================================================================*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    共通>>
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*=============================================================================
    <<モバイル
=============================================================================*/
@media screen and (max-width: 480px) {}
/*=============================================================================
    モバイル>>
=============================================================================*/
/*=============================================================================
    <<PC
=============================================================================*/
@media screen and (min-width: 480px) {}
/*=============================================================================
    PC>>
=============================================================================*/
