@charset "utf-8";
/*=============================================================================
    <<icomonn
=============================================================================*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u8vdv9');
  src:  url('fonts/icomoon.eot?u8vdv9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u8vdv9') format('truetype'),
    url('fonts/icomoon.woff?u8vdv9') format('woff'),
    url('fonts/icomoon.svg?u8vdv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitcoin:before {
  content: "\e900";
}
.icon-setting1:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
.icon-glasses:before {
  content: "\e901";
}
.icon-images:before {
  content: "\e90e";
}
.icon-undo:before {
  content: "\e967";
}
.icon-chat:before {
  content: "\e96c";
}
.icon-setting2:before {
  content: "\e994";
}
.icon {
}
/*=============================================================================
    icomoon>>
=============================================================================*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    <<共通
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
body {
	box-sizing: border-box;
	width: 100%;
	/*Mplus 1pが読み込まれる前に後ろのフォントが表示されるので一応書いておく*/
	font-family: "Mplus 1p", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*
	font-family : 英字フォント1, 英字フォント2, ... 日本語フォント1, 日本語フォント2 ... 総称フォント; 総称フォントは、sans-serif or serifで、フォントに半角スペースが含まれる場合シングルorダブルクオテーションで囲うことが必須
	*/
	font-size: 14px;
	line-height: 1.8;
	color: #545454;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.8;
	color: #545454;
}
a {/*aもh系と一緒でブラウザのcssが強く効きやすいので注意*/
	color: #545454;
	text-decoration: none;
}
@media screen and (min-width: 769px) {
  a:hover {
    color: #E50640;
  }
}
img {
	vertical-align: bottom;/*写真の下にできる謎のスペースを消去*/
	width: 100%;/*フルードイメージ用、max-widthは最大値以上大きくならないの意なのでwidthの%指定を使う*/
}
.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}
/*=============================================================================
    <<.header
=============================================================================*/
/*-----------------------------------------------------------------------------
    .nav-bar
-----------------------------------------------------------------------------*/
.nav-bar {
  margin-top: 10px;
  height: 70px;
}
.nav-bar__logo {
  float: left;
}
.nav-bar__menu {
  float: right;
  width: 255px;
  height: 46px;
  border: 1px solid #95989A;
  border-radius: 10px;
  line-height: 46px;
}
.nav-bar__login,
.nav-bar__register,
.nav-bar__mymenu,
.nav-bar__filter,
.nav-bar__back {
  float: left;
  display: inline;
}
.nav-bar__login {

  padding: 0 10px;
  width: 60px;
  border-right: 1px dotted #95989A;
  text-align: center;
}
.nav-bar__register {
  margin: 7.5px 10px;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  color: #fff;
  background-color: #E50640;
  line-height: 32px;
  text-align: center;
}
.nav-bar__filter {
  padding-left: 27px;
  border-left: 1px dotted #95989A;
  line-height: 47px;
  text-align: center;

}
/*=============================================================================
    .header>>
=============================================================================*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    共通>>
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*=============================================================================
    <<モバイル
=============================================================================*/
@media screen and (max-width: 480px) {}
/*=============================================================================
    モバイル>>
=============================================================================*/
/*=============================================================================
    <<PC
=============================================================================*/
@media screen and (min-width: 480px) {}
/*=============================================================================
    PC>>
=============================================================================*/
