@charset "utf-8";
/*=============================================================================
    <<icomonn
=============================================================================*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u8vdv9');
  src:  url('../fonts/icomoon.eot?u8vdv9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u8vdv9') format('truetype'),
    url('../fonts/icomoon.woff?u8vdv9') format('woff'),
    url('../fonts/icomoon.svg?u8vdv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitcoin:before {
  content: "\e900";
}
.icon-setting1:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
.icon-glasses:before {
  content: "\e901";
}
.icon-images:before {
  content: "\e90e";
}
.icon-undo:before {
  content: "\e967";
}
.icon-chat:before {
  content: "\e96c";
}
.icon-setting2:before {
  content: "\e994";
}
.icon {
}
/*=============================================================================
    icomoon>>
=============================================================================*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    <<共通
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
body {
	box-sizing: border-box;
  /*overflow: hidden;*/
	width: 100%;
	/*Mplus 1pが読み込まれる前に後ろのフォントが表示されるので一応書いておく*/
	font-family: "Mplus 1p", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*
	font-family : 英字フォント1, 英字フォント2, ... 日本語フォント1, 日本語フォント2 ... 総称フォント; 総称フォントは、sans-serif or serifで、フォントに半角スペースが含まれる場合シングルorダブルクオテーションで囲うことが必須
	*/
	font-size: 14px;
	line-height: 1.8;
	color: #545454;
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.8;
	color: #545454;
}
a {/*aもh系と一緒でブラウザのcssが強く効きやすいので注意*/
	color: #545454;
	text-decoration: none;
}
@media screen and (min-width: 769px) {
  a:hover {
    color: #E50640;
  }
}
img {
	vertical-align: bottom;/*写真の下にできる謎のスペースを消去*/
	width: 100%;/*フルードイメージ用、max-widthは最大値以上大きくならないの意なのでwidthの%指定を使う*/
}
/*=============================================================================
    <<.header
=============================================================================*/
header {
}
/*-----------------------------------------------------------------------------
    .nav-bar
-----------------------------------------------------------------------------*/
.nav-bar {
  height: 50px;
  width: 100%;
  background: #5f5f5f;
  box-shadow: 0 5px 5px rgba(160, 166, 179, 0.3);
  line-height: 50px;
  text-align: center;
  font-size: 3vw;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.nav-bar__logo {
  float: left;
  width: 25vw;
}
.nav-bar__menu {
  float: right;
  /*width: 60%;*/
}
.nav-bar__login, .nav-bar__register, .nav-bar__mymenu, .nav-bar__filter, .nav-bar__back {
  float: left;
  width: 25vw;
}
.nav-bar__logo-icon, .nav-bar__mymenu-icon, .nav-bar__filter-icon, .nav-bar__back-icon {
  color: #fff;
  font-size: 32px;
  line-height: 50px;

}
.nav-bar__logo-link, .nav-bar__login-link, .nav-bar__register-link, .nav-bar__mymenu-link, .nav-bar__filter-link, .nav-bar__back-link {
  display: block;
  color: #fff;
}
.nav-bar__logo-link:hover, .nav-bar__login-link:hover, .nav-bar__register-link:hover, .nav-bar__mymenu-link:hover, .nav-bar__filter-link:hover, .nav-bar__back-link:hover {
  background: #4CAF50;
  color: #fff;
}
/*-----------------------------------------------------------------------------
    .modal-login
-----------------------------------------------------------------------------*/
.modal-login__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-login {
  display: none;
  position: fixed;
  z-index: 3;
  width: 50%;
  margin: 0;
  padding: 10px 20px;
  width: 70vw;
  height: 70vh;
  max-width: 360px;
  max-height: 360px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.modal-login__trigger {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.modal-login__title {
	font-size: 28px;
}
.modal-login__email, .modal-login__password {
	padding-top: 20px;
}
.modal-login__email-input, .modal-login__password-input {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
  width: 70vw;
  max-width: 300px;
  font-size: 1.3em;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.modal-login__btn-input {
	margin-top: 20px;
	width: 70vw;
	max-width:300px;
	height: 45px;
	border: 0;
	border-radius: 3px;
	background: #f5f5f5;
	font-size: 20px;
	/*:hoverにtransitionをかけると一方向に、元要素にかけると外した時もなる*/
	transition: 0.3s;
}
.modal-login__btn-input:hover {
  background: #E50640;
  color: #fff;
}
.modal-login__notice-password, .modal-login__notice-register {
	padding-top: 10px;
	font-size: 16px;
}
.modal-login__notice-password-link, .modal-login__notice-register-link {
  transition: 0.3s;
}
/*-----------------------------------------------------------------------------
    .modal-register
-----------------------------------------------------------------------------*/
.modal-register__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-register {
  display: none;
  position: fixed;
  z-index: 3;
  margin: 0;
  padding: 10px 20px;
  width: 70vw;
  height: 70vh;
  max-width: 360px;
  max-height: 360px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.modal-register__trigger {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.modal-register__title {
	font-size: 28px;
}
.modal-register__email, .modal-register__password {
	padding-top: 20px;
}
.modal-register__email-input, .modal-register__password-input {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
  width: 70vw;
  max-width: 300px;
  font-size: 1.3em;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.modal-register__btn-input {
	margin-top: 20px;
	width: 70vw;
	max-width:300px;
	height: 45px;
	border: 0;
	border-radius: 3px;
	background: #f5f5f5;
	font-size: 20px;
	/*:hoverにtransitionをかけると一方向に、元要素にかけると外した時もなる*/
	transition: 0.3s;
}
.modal-register__btn-input:hover {
  background: #E50640;
  color: #fff;
}
.modal-register__notice {
	padding-top: 10px;
	font-size: 16px;
}
.modal-register__notice-link {
  transition: 0.3s;
}
/*-----------------------------------------------------------------------------
    .modal-mymenu
-----------------------------------------------------------------------------*/
.modal-mymenu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-mymenu {
  display: none;
  position: fixed;
  z-index: 3;
  margin: 0;
  padding: 10px 20px;
  width: 70vw;
  height: 70vh;
  max-width: 360vmin;
  max-height: 200vmin;
  border-radius: 10px;
  background: #fff;
  font-size: 4vh;
  text-align: center;
}
.modal-mymenu__layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal-mymenu__layout li {
  margin: 5vh 0;
}
.modal-mymenu:after {
/*
  display: block;
  clear: both;
  content: "";
*/
}
.modal-mymenu__trigger {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.modal-mymenu__title {
	font-size: 28px;
}
/*=============================================================================
    .header>>
=============================================================================*/
/*=============================================================================
    <<.wrapper
=============================================================================*/
main {
  overflow: hidden;
  margin: 0 auto;
  width: 90vw;
  max-width: 1000px;
}
/*-----------------------------------------------------------------------------
    .frame-list
-----------------------------------------------------------------------------*/
.frame-list {
  display: flex;
  align-items: center;
  margin-top: 2vw;
  padding: 1vw;
  border-radius: 2vw;
  background: #fff;
  font-size: 4vw;
}
.frame-list__layout {
  margin-top: 2vw;
  border-top: 1px dotted #95989A;
}
.frame-list__layout:nth-of-type(1) {
  border-top: 0;
}
.frame-list__image {
  width: 50vw;
}
.frame-list__info {
  padding: 3vw 2vw 3vw 3vw;
  width: 30vw;
  text-align: center;
}
.frame-list__price, .frame-list__size, .frame-list_desc_true__optional {
  border-bottom: 1px solid #ccc;
}
.frame-list__add-btn {
  display: block;
  width: 41vw;
  margin-top: 2vw;
  padding: 1vw 2vw;
  background: #4CAF50;
  border-radius: 2vw;
  color: #fff;
  font-size: 4vw;
}
.frame-list__add-btn:hover {
  color: #fff;
  -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.frame-list__seller {
  margin: 1vw auto;
  width: 15vw;
  background: #f5f5f5;
  border-radius: 2vw;
}
.frame-list__seller-link {
  display: block;
}
.frame-list__admin-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vw;
  padding: 1vw;
  height: 8vw;
  border-radius: 2vw;;
  background: #fff;
  font-size: 4vw;
}
.frame-list__admin-action__edit, .frame-list__admin-action__delete {
  width: 45vw;
}
.frame-list__admin-action__edit a, .frame-list__admin-action__delete a {
  display: block;
  text-align: center;
}
/*=============================================================================
    <<.frame-detail
=============================================================================*/
.frame-detail__layout_desc_true {
  margin: 2vw 0;
  border-bottom: 1px dotted #95989A;
}
.frame-detail {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 2vw;
  background: #fff;
  font-size: 4vw;
}
.frame-detail__image {
  width: 50vw;
}
.frame-detail__info {
  padding: 3vw 2vw 3vw 3vw;
  width: 30vw;
  text-align: center;
}
.frame-detail__size, .frame-detail__price, .frame-detail_desc_true__optional, .frame-detail_desc_true__thickness {
  border-top: 1px solid #ccc;
}
/*-----------------------------------------------------------------------------
    .frame-detail__action
-----------------------------------------------------------------------------*/
.frame-detail__action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
  height: 8vw;
  border-radius: 2vw;;
  background: #fff;
  font-size: 4vw;
}
.frame-detail__action__price {
  width: 15vw;
  text-align: center;
}
.frame-detail__action__seller {
  width: 15vw;
  background: #f5f5f5;
  border-radius: 2vw;
  text-align: center;
}
.frame-detail__action__seller-link {
  display: block;
}
.frame-detail__action__report {
  background: #f5f5f5;
  border-radius: 2vw;
  color: #fff;
}
.frame-detail__action__report button {
  border: 0;
  width: 15vw;
  color: #545454;
  background: #f5f5f5;
  cursor: pointer;
}
.frame-detail__action__report button:hover {
  color: #E50640;
}
.frame-detail__action__favorite {
  background: #4CAF50;
  border-radius: 2vw;
  color: #fff;
}
.frame-detail__action__favorite button {
  border: 0;
  width: 25vw;
  background: transparent;
  cursor: pointer;
}
.frame-detail__max {
  color: #E50640;
}
.frame-detail__action__report-icon, .frame-detail__action__favorite-icon {
  font-size: 4vw;
}
.frame-detail__action__favorite-cnt {
  margin-left: 1vw;
  color: #fff;
  font-size: 4vw;
}
/*-----------------------------------------------------------------------------
    .tooltip-favorite
-----------------------------------------------------------------------------*/
/* ツールチップ本体 */
.tooltip {
  position:absolute;
  z-index:9999;
  display:block;
  color:#fff;
  font-size:14px;
  line-height:1.2;
}
/* ツールチップの内容 */
.tooltip__body {
  position:relative;
  top:-15px;
  padding:10px;
  background:#5f5f5f;
  -webkit-border-radius:5px;
     -moz-border-radius:5px;
      -ms-border-radius:5px;
          border-radius:5px;
  -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow:0 2px 4px rgba(0, 0, 0, .4);
      -ms-box-shadow:0 2px 4px rgba(0, 0, 0, .4);
          box-shadow:0 2px 4px rgba(0, 0, 0, .4);
}
/* ツールチップらしく矢印をつける */
.tooltip__body:after {
  content:"";
  position:absolute;
  bottom:-5px;
  left:50%;
  display:block;
  width:0;
  height:0;
  margin-left:-5px;
  border-width:5px 5px 0 5px;
  border-style:solid;
  border-color:#5f5f5f transparent transparent transparent;
}
/*=============================================================================
    .frame-detail>>
=============================================================================*/
/*-----------------------------------------------------------------------------
    .framr-list（frame-edit.php）
-----------------------------------------------------------------------------*/
.frame-edit {
  margin: 0 auto;
  width: 80vw;
}
.frame-edit label {
  display: block;
  margin-top: 2vw;
}
.frame-edit input, .frame-edit textarea {
  box-sizing: border-box;
  width: 80vw;
  padding: 2vw;
  font-size: 1.3em;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.frame-edit input[type="submit"] {
  margin-top: 2vw;
}
.frame-edit-list-btn {
  display: block;
  width: 38vw;
  margin-top: 2vw;
  margin-left: 5vw;
  padding: 1vw 2vw;
  background: #4CAF50;
  border-radius: 2vw;
  color: #fff;
  font-size: 4vw;
}
.frame-edit-list-btn:hover {
  color: #fff;
  -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
/*-----------------------------------------------------------------------------
    .registration-form
-----------------------------------------------------------------------------*/
.registration-form {
  margin: 0 auto;
  width: 80vw;
}
.registration-form div {
  margin-top: 2vw;
}
.registration-form label {
  display: left;
}
.user_loginid_result, .user_email_result, .user_password_result {
  margin-left: 12px;
}
.registration-form input, .registration-form textarea {
  box-sizing: border-box;
  width: 80vw;
  padding: 2vw;
  font-size: 2vw;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.registration-form input[type="submit"], .registration-form input[type="file"] {
  margin-top: 2vw;
}
.input-error {
  border: 1px solid #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
  transition: 0.2s;
}
.input-no-error {
  border: 1px solid #d6e9c6;
  background-color: #dff0d8;
  color: #468847;
  transition: 0.2s;
}
.registration-message {
  margin: 2vw auto 0;
  width: 80vw;
}
/*-----------------------------------------------------------------------------
    .message(mypage/index.php)
-----------------------------------------------------------------------------*/
.message {
  margin: 2vw auto 0;
  width: 80vw;
}
/*-----------------------------------------------------------------------------
    .mypage-menu(mypage/index.php)
-----------------------------------------------------------------------------*/
.mypage-menu {
  margin: 3vw auto 0;
  width: 80vw;
  font-size: 3vw;
  text-align: center;
}
/*-----------------------------------------------------------------------------
    .login-page
-----------------------------------------------------------------------------*/
.login-page {
  margin: 0 auto;
  width: 80vw;
}
.login-page div {
  margin-top: 2vw;
}
.login-page label {
  display: left;
}
.login-page input, .login-page textarea {
  box-sizing: border-box;
  width: 80vw;
  padding: 2vw;
  font-size: 2vw;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.login-page input[type="submit"], .login-page input[type="file"] {
  margin-top: 2vw;
}
/*-----------------------------------------------------------------------------
    .inquiry-form
-----------------------------------------------------------------------------*/
.inquiry-form {
  margin: 0 auto;
  width: 80vw;
}
.inquiry-form div {
  margin-top: 2vw;
}
.inquiry-form label {
  display: left;
}
.inquiry-form input, .inquiry-form textarea {
  box-sizing: border-box;
  width: 80vw;
  padding: 2vw;
  font-size: 2vw;
  /*ボーダー初期化*/
  border:0;
  border:solid 1px #ccc;
  /*丸角*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*シャドー*/
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.inquiry-form input[type="submit"], .inquiry-form input[type="file"] {
  margin-top: 2vw;
}
/*=============================================================================
    .wrapper>>
=============================================================================*/
/*=============================================================================
    <<.footer
=============================================================================*/
/*-----------------------------------------------------------------------------
    .footer-nav
-----------------------------------------------------------------------------*/
.footer-nav__layout {
  background: #5f5f5f;
  color: #fff;
}
/*.footer-navに背景をつけると*/
.footer-nav {
  margin-top: 4vw;
  padding-top: 2vw;
  font-size: 3vmin;
  text-align: center;
}
.footer-nav a {
  color: #fff;
}
/*-----------------------------------------------------------------------------
    .copy-right
-----------------------------------------------------------------------------*/
.copy-right {
  display: flex;
  height: 46px;
  background: #5f5f5f;
}
.copy-right__declare {
  display: inline;
  margin: auto;
  color: #AAAAAA;
  font-size: 12px;
}
/*=============================================================================
    .footer>>
=============================================================================*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    共通>>
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*=============================================================================
    <<モバイル
=============================================================================*/
@media screen and (max-width: 480px) {}
/*=============================================================================
    モバイル>>
=============================================================================*/
/*=============================================================================
    <<PC
=============================================================================*/
@media screen and (min-width: 480px) {}
/*=============================================================================
    PC>>
=============================================================================*/